.row {
  display: flex;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  margin-top: 5px;
  object-fit: cover;
  justify-content: center;
  height: 100%;
  width: auto;
}

.row:after {
  content: "";
  display: grid;
  clear: both;
}
.column img {
  margin-top: 5px;
  border-radius: 34px;
  opacity: 40%;
  transition-duration: 3s;
}

.column img:hover {
  opacity: 100%;
  transition: opacity 1s ease;
}
.column {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-row: 2px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px;
}
