.contfav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(228, 225, 225);
  align-items: center;
  height: 5vw;
  padding: 0px;
  z-index: 1;
}

.header {
  font-size: 2em;
}
.logo {
  width: 4vw;
  height: auto;
}
.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
   
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}